.sixers-card {
  background-color: #006bb6;
  border-radius: 10px;
}
.sixers-card p {
  margin: 0;
  padding-bottom: 10px;
  color: #ed174c;
  font-weight: bold;
}
.sixers-card img {
  padding-bottom: 10px;
}
