* {
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb);
}
header {
  width: 100%;
  text-align: center;
  font-size: 38px;
  padding: 20px 0 20px 0;
  color: black;
  border-bottom: 2px solid black;
}

.eagles-card,
.phillies-card,
.flyers-card,
.sixers-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35%;
  box-shadow: -1px 1px 13px 2px #000000;
  max-height: 300px;
}
.eagles-card:hover,
.phillies-card:hover,
.flyers-card:hover,
.sixers-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
  border-top: black 2px solid;
  color: black;
}
.roster-p {
  font-size: 24px;
  font-weight: bold;
}
.playerName {
  width: 50%;
}
select {
  border-radius: 6px;
  width: 65px;
  font-size: 20px;
}
/* EAGLES ROSTER */
.eagles-filter {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: 0 auto;
  font-size: 24px;
  color: #004c54;
}
.eaglesRoster {
  width: 100%;
  margin: 25px 0 15px 0;
  background-color: #a5acaf;
  padding: 15px 45px 15px 45px;
  border-radius: 12px;
}
.eaglesPlayer {
  background-color: #004c54;
  color: #a5acaf;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #acc0c6;
  border-radius: 12px;
  margin: 15px 0;
}
/* PHILLIES ROSTER */
.phillies-filter {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: 0 auto;
  font-size: 24px;
  color: white;
}
.philliesRoster {
  width: 100%;
  margin: 25px 0 15px 0;
  background-color: #002d72;
  padding: 15px 45px 15px 45px;
  border-radius: 12px;
}
.philliesPlayer {
  background-color: #e81828;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 12px;
  margin: 15px 0;
}
/* FLYERS ROSTER */
.flyers-filter {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: 0 auto;
  font-size: 24px;
  color: black;
}
.flyersRoster {
  width: 100%;
  margin: 25px 0 15px 0;
  background-color: #f74902;
  padding: 15px 45px 15px 45px;
  border-radius: 12px;
}
.flyersPlayer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 12px;
  margin: 15px 0;
}
/* SIXERS ROSTER */
.sixers-filter {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: 0 auto;
  font-size: 24px;
  color: white;
}
.sixersRoster {
  width: 100%;
  margin: 25px 0 15px 0;
  background-color: #006bb6;
  padding: 15px 45px 15px 45px;
  border-radius: 12px;
}
.sixersPlayer {
  background-color: #ed174c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 12px;
  margin: 15px 0;
}

@media only screen and (max-width: 650px) {
  .eagles-card,
  .phillies-card,
  .flyers-card,
  .sixers-card {
    width: 100%;
  }
  .eagles-filter,
  .phillies-filter,
  .flyers-filter,
  .sixers-filter {
    width: 100%;
  }
  label {
    font-size: 20px;
  }
  select {
    width: 55px;
  }
  .playerName,
  .roster-p {
    font-size: 20px;
  }
}
